<a href="https://colab.research.google.com/github/Nithinan-Srikongphan/python_dataviz2024/blob/main/(Test01)Test_TidyData_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Test-TidyData_2024 By นิธินันต์ ศรีกงพาน 653020572-4

## 1. หาความแตกต่างของค่าเฉลี่ย Chlo_a ระหว่างปี 2018 และ 2019 สำหรับแต่ละสถานี (station)

In [10]:
import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('test-TidyData_2024.xlsx')

# แสดงข้อมูล
print(df.head())

       month  station  rep.    Chlo_a    Chlo_b  total_Caro  Temp.    pH  \
0  July_2018        1     1  0.094645  0.011954    0.026780   30.2  5.54
1  July_2018        2     1  0.038433  0.059019    0.021387   29.1  6.24
2  July_2018        3     1  0.043884  0.089415    0.023223   29.7  5.52
3  July_2018        4     1  0.039836  0.064552    0.016537   29.2  5.92
4  July_2018        5     1  0.044712  0.062424    0.022990   29.5  5.79

      EC  Salinity    TDS    DO   Nitrate  Ammonium  Phosphate  No.Algal_cell  \
0  622.7     330.3  545.2  4.37  0.172902  0.052817   0.012748   1.635833e+05
1  580.7     307.0  488.2  6.55  0.154197  0.144843   0.006086   1.166667e+06
2  547.1     289.4  462.2  5.67  0.153097  0.154321   0.014158   2.970000e+06
3  473.6     249.2  397.9  0.69  0.157026  0.387408   0.056951   5.066667e+05
4  685.5     366.0  581.2  4.46  0.204024  0.043387   0.007239   1.265000e+06

   @dropdown
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [14]:
# แยกปีจากคอลัมน์ 'month'
df['Year'] = df['month'].apply(lambda x: int(x.split('_')[1]))

# กรองข้อมูลเฉพาะปี 2018 และ 2019
df_2018 = df[df['Year'] == 2018]
df_2019 = df[df['Year'] == 2019]

# คำนวณค่าเฉลี่ย Chlo_a ของแต่ละ station ในแต่ละปี
mean_2018 = df_2018.groupby('station')['Chlo_a'].mean()
mean_2019 = df_2019.groupby('station')['Chlo_a'].mean()

# หาความแตกต่างของค่าเฉลี่ยระหว่างปี 2018 และ 2019
diff_mean = mean_2019 - mean_2018

# สร้าง DataFrame จากผลลัพธ์
result_df = pd.DataFrame({
    'Station': diff_mean.index,
    'Chlo_a_Mean_2018': mean_2018.values,
    'Chlo_a_Mean_2019': mean_2019.values,
    'Difference': diff_mean.values
})

# แสดงผล
for _, row in result_df.iterrows():
    print(f"Station {row['Station']}:")
    print(f"  Chlo_a in 2018: {row['Chlo_a_Mean_2018']:.4f}")
    print(f"  Chlo_a in 2019: {row['Chlo_a_Mean_2019']:.4f}")
    print(f"  Difference (2019 - 2018): {row['Difference']:.4f}")
    print()

Station 1.0:
  Chlo_a in 2018: 0.0525
  Chlo_a in 2019: 0.0183
  Difference (2019 - 2018): -0.0343

Station 2.0:
  Chlo_a in 2018: 0.0481
  Chlo_a in 2019: 0.0279
  Difference (2019 - 2018): -0.0202

Station 3.0:
  Chlo_a in 2018: 0.0533
  Chlo_a in 2019: 0.0231
  Difference (2019 - 2018): -0.0302

Station 4.0:
  Chlo_a in 2018: 0.0468
  Chlo_a in 2019: 0.0216
  Difference (2019 - 2018): -0.0252

Station 5.0:
  Chlo_a in 2018: 0.0434
  Chlo_a in 2019: 0.0201
  Difference (2019 - 2018): -0.0233

Station 6.0:
  Chlo_a in 2018: 0.0438
  Chlo_a in 2019: 0.0156
  Difference (2019 - 2018): -0.0282

## 2. สร้างตารางค่าเฉลี่ย Chlo_b ทุกๆ station ของแต่ละเดือน

In [15]:
import pandas as pd

# อ่านไฟล์ Excel
df = pd.read_excel('test-TidyData_2024.xlsx')

# แยกปีจากคอลัมน์ 'month'
df['Year'] = df['month'].apply(lambda x: int(x.split('_')[1]))

# คำนวณค่าเฉลี่ยของ Chlo_b สำหรับแต่ละ station ของแต่ละเดือน
average_Chlo_b = df.groupby(['Year', 'station'])['Chlo_b'].mean().reset_index()

# แสดงผลลัพธ์
print(average_Chlo_b)

    Year  station    Chlo_b
0   2018        1  0.077334
1   2018        2  0.075734
2   2018        3  0.083378
3   2018        4  0.068458
4   2018        5  0.066966
5   2018        6  0.066574
6   2019        1  0.024939
7   2019        2  0.017999
8   2019        3  0.019025
9   2019        4  0.014190
10  2019        5  0.015672
11  2019        6  0.016410

In [17]:
# แยกเดือนและปีออกจากคอลัมน์ 'month'
df[['Month', 'Year']] = df['month'].str.split('_', expand=True)
df['Year'] = df['Year'].astype(int)

# คำนวณค่าเฉลี่ยของ Chlo_b สำหรับแต่ละ station ของแต่ละเดือนและปี
average_Chlo_b = df.groupby(['Month', 'station'])['Chlo_b'].mean().reset_index()

# แสดงผลลัพธ์
print(average_Chlo_b)

   Month  station    Chlo_b
0    Apr        1  0.051381
1    Apr        2  0.019378
2    Apr        3  0.030775
3    Apr        4  0.020170
4    Apr        5  0.027015
5    Apr        6  0.025655
6    Aug        1  0.075665
7    Aug        2  0.065403
8    Aug        3  0.065179
9    Aug        4  0.061289
10   Aug        5  0.060107
11   Aug        6  0.063027
12   Dec        1  0.070061
13   Dec        2  0.064375
14   Dec        3  0.080867
15   Dec        4  0.061951
16   Dec        5  0.070085
17   Dec        6  0.065663
18   Jan        1  0.022451
19   Jan        2  0.014968
20   Jan        3  0.017722
21   Jan        4  0.012142
22   Jan        5  0.009789
23   Jan        6  0.013856
24  July        1  0.030526
25  July        2  0.038211
26  July        3  0.045500
27  July        4  0.035326
28  July        5  0.037839
29  July        6  0.033133
30  June        1  0.020548
31  June        2  0.013194
32  June        3  0.013301
33  June        4  0.013821
34  June        5  0.013880
35  June        6  0.008583
36   May        1  0.015949
37   May        2  0.028765
38   May        3  0.015890
39   May        4  0.015559
40   May        5  0.016623
41   May        6  0.023882
42   Nov        1  0.075937
43   Nov        2  0.064552
44   Nov        3  0.097963
45   Nov        4  0.070605
46   Nov        5  0.063866
47   Nov        6  0.073360
48   Oct        1  0.131764
49   Oct        2  0.122767
50   Oct        3  0.106404
51   Oct        4  0.090834
52   Oct        5  0.082381
53   Oct        6  0.079449
54   Sep        1  0.063890
55   Sep        2  0.074578
56   Sep        3  0.076292
57   Sep        4  0.064670
58   Sep        5  0.060733
59   Sep        6  0.061750

In [18]:
from tabulate import tabulate

# คำนวณค่าเฉลี่ยของ Chlo_b สำหรับแต่ละ station ของแต่ละเดือน
average_Chlo_b = df.groupby(['Month', 'station'])['Chlo_b'].mean().reset_index()

# แสดงผลลัพธ์ในรูปแบบตารางที่มีเส้น
print(tabulate(average_Chlo_b, headers='keys', tablefmt='grid'))

+----+---------+-----------+------------+
|    | Month   |   station |     Chlo_b |
+====+=========+===========+============+
|  0 | Apr     |         1 | 0.0513813  |
+----+---------+-----------+------------+
|  1 | Apr     |         2 | 0.0193777  |
+----+---------+-----------+------------+
|  2 | Apr     |         3 | 0.0307747  |
+----+---------+-----------+------------+
|  3 | Apr     |         4 | 0.0201697  |
+----+---------+-----------+------------+
|  4 | Apr     |         5 | 0.027015   |
+----+---------+-----------+------------+
|  5 | Apr     |         6 | 0.0256553  |
+----+---------+-----------+------------+
|  6 | Aug     |         1 | 0.0756653  |
+----+---------+-----------+------------+
|  7 | Aug     |         2 | 0.0654033  |
+----+---------+-----------+------------+
|  8 | Aug     |         3 | 0.0651787  |
+----+---------+-----------+------------+
|  9 | Aug     |         4 | 0.061289   |
+----+---------+-----------+------------+
| 10 | Aug     |         5 | 0.0601067  |
+----+---------+-----------+------------+
| 11 | Aug     |         6 | 0.063027   |
+----+---------+-----------+------------+
| 12 | Dec     |         1 | 0.0700613  |
+----+---------+-----------+------------+
| 13 | Dec     |         2 | 0.0643747  |
+----+---------+-----------+------------+
| 14 | Dec     |         3 | 0.0808673  |
+----+---------+-----------+------------+
| 15 | Dec     |         4 | 0.061951   |
+----+---------+-----------+------------+
| 16 | Dec     |         5 | 0.070085   |
+----+---------+-----------+------------+
| 17 | Dec     |         6 | 0.0656633  |
+----+---------+-----------+------------+
| 18 | Jan     |         1 | 0.0224513  |
+----+---------+-----------+------------+
| 19 | Jan     |         2 | 0.0149677  |
+----+---------+-----------+------------+
| 20 | Jan     |         3 | 0.0177223  |
+----+---------+-----------+------------+
| 21 | Jan     |         4 | 0.012142   |
+----+---------+-----------+------------+
| 22 | Jan     |         5 | 0.00978933 |
+----+---------+-----------+------------+
| 23 | Jan     |         6 | 0.0138563  |
+----+---------+-----------+------------+
| 24 | July    |         1 | 0.0305265  |
+----+---------+-----------+------------+
| 25 | July    |         2 | 0.0382112  |
+----+---------+-----------+------------+
| 26 | July    |         3 | 0.0454998  |
+----+---------+-----------+------------+
| 27 | July    |         4 | 0.0353263  |
+----+---------+-----------+------------+
| 28 | July    |         5 | 0.0378387  |
+----+---------+-----------+------------+
| 29 | July    |         6 | 0.0331332  |
+----+---------+-----------+------------+
| 30 | June    |         1 | 0.020548   |
+----+---------+-----------+------------+
| 31 | June    |         2 | 0.0131943  |
+----+---------+-----------+------------+
| 32 | June    |         3 | 0.0133007  |
+----+---------+-----------+------------+
| 33 | June    |         4 | 0.013821   |
+----+---------+-----------+------------+
| 34 | June    |         5 | 0.01388    |
+----+---------+-----------+------------+
| 35 | June    |         6 | 0.00858333 |
+----+---------+-----------+------------+
| 36 | May     |         1 | 0.015949   |
+----+---------+-----------+------------+
| 37 | May     |         2 | 0.028765   |
+----+---------+-----------+------------+
| 38 | May     |         3 | 0.01589    |
+----+---------+-----------+------------+
| 39 | May     |         4 | 0.015559   |
+----+---------+-----------+------------+
| 40 | May     |         5 | 0.016623   |
+----+---------+-----------+------------+
| 41 | May     |         6 | 0.023882   |
+----+---------+-----------+------------+
| 42 | Nov     |         1 | 0.0759373  |
+----+---------+-----------+------------+
| 43 | Nov     |         2 | 0.064552   |
+----+---------+-----------+------------+
| 44 | Nov     |         3 | 0.097963   |
+----+---------+-----------+------------+
| 45 | Nov     |         4 | 0.0706053  |
+----+---------+-----------+------------+
| 46 | Nov     |         5 | 0.0638663  |
+----+---------+-----------+------------+
| 47 | Nov     |         6 | 0.07336    |
+----+---------+-----------+------------+
| 48 | Oct     |         1 | 0.131764   |
+----+---------+-----------+------------+
| 49 | Oct     |         2 | 0.122767   |
+----+---------+-----------+------------+
| 50 | Oct     |         3 | 0.106404   |
+----+---------+-----------+------------+
| 51 | Oct     |         4 | 0.090834   |
+----+---------+-----------+------------+
| 52 | Oct     |         5 | 0.0823807  |
+----+---------+-----------+------------+
| 53 | Oct     |         6 | 0.0794487  |
+----+---------+-----------+------------+
| 54 | Sep     |         1 | 0.06389    |
+----+---------+-----------+------------+
| 55 | Sep     |         2 | 0.0745777  |
+----+---------+-----------+------------+
| 56 | Sep     |         3 | 0.076292   |
+----+---------+-----------+------------+
| 57 | Sep     |         4 | 0.0646703  |
+----+---------+-----------+------------+
| 58 | Sep     |         5 | 0.0607333  |
+----+---------+-----------+------------+
| 59 | Sep     |         6 | 0.06175    |
+----+---------+-----------+------------+